<div>
  <form action="<%= search_experiences_path %>">
    <input class="form-control"  data-role="tagsinput" name="tags" placeholder="Type for tags"/>
    <input type="submit" value="search" class="btn btn-info" style="margin-top: 10px">
  </form>
</div>

<div class="list-group">
  <h2>Experiences matching your search: "<%= params[:tags] %>"</h2>
  <% @experiences.each do |experience| %>
    <a href="<%= experience_path(experience) %>" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between" style="margin-bottom: 10px">
        <h5 class="mb-1"><%= experience.title %> <%= "<span class='badge badge-success'>Verified</span>".html_safe if experience.verified %></h5>
        <small class="font-italic"><%= experience.anonymous ?  "anonymous - Reputation: #{experience.user.reputation_points}" : "#{experience.user.email} - Reputation: #{experience.user.reputation_points}" %></small>
      </div>
      <p class="mb-1"><%= experience.description.truncate(200) %></p>
      <p>
        <%= experience.tags.map { |tag|  "<span class='badge badge-pill badge-secondary' style='background-color:#28a745; margin-right: 2px;'>#{tag}</span>" }.join.html_safe %>
      </p>
    </a>
  <% end %>
</div>