<div style="text-align:right; ">
  <%= link_to "Helpful", mark_as_helpful_experience_path(@experience), class: "btn btn-primary", method: :post %>
  <%= link_to "Not Helpful",  mark_as_not_helpful_experience_path(@experience), class: "btn btn-danger", method: :post %>
</div>

<div class="d-flex w-100 justify-content-between" style="margin-bottom: 10px">
  <h5 class="mb-1"><%= @experience.title %> <%= "<span class='badge badge-success'>Verified</span>".html_safe if @experience.verified %></h5>
  <small class="font-italic"><%= @experience.anonymous ?  "anonymous - Reputation: #{@experience.user.reputation_points}": "#{@experience.user.email} - Reputation: #{@experience.user.reputation_points}" %></small>
</div>
<p class="mb-1"><%= @experience.description %></p>
<p>Insurance Provider: <%= @experience.insurance_provider %></p>
<p>
  <%= @experience.tags.map { |tag|  "<span class='badge badge-pill badge-secondary' style='background-color:#28a745; margin-right: 2px;'>#{tag}</span>" }.join.html_safe %>
</p>
