<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @experience.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @experience.user %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @experience.verified %>
</p>

<p>
  <strong>Insurance provider:</strong>
  <%= @experience.insurance_provider %>
</p>

<%= link_to 'Back', experiences_path %>
